body {
  margin: 0;
  padding: 15px 5%;
  font-family: 'Menlo';
}

.glyphicon {
  float: right;
}


h3 {
  margin-top: 20px;
}

table {
  margin-top: 20px;
  border: none;
  border-collapse: collapse;
}

table td {
  border-right: 1px solid #000;
  max-height: 30px;
}

th {
  text-align: left;
  background: #a6a6a6;
}

table th,
table td {
  padding: 0 15px;
}

.age_col {
  text-align: right;
}

.emp_col,
.delete_col {
  text-align: center;
  border-right: 1px solid #000;
}

.emp_col,
.delete_col,
.age_col,
.name_col,
table th,
table td {
  border-left: 1px solid #000;
}

tr:last-child {
  border-bottom: 1px solid #000;
}

tr:first-child {
  border-top: 1px solid #000;
}

.delete_col:hover {
  cursor: pointer;
}

.dump {
  border: 1px solid black;
}

.form-group label {
  margin: 15px 0;
}

.form-group input {
  margin: 10px 0;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
